.ponto-turistico-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  box-shadow: 3px 3px 5px 5px var(--shadow-color);
  padding: 20px 10px 10px;
  border-radius: 20px;
  max-width: 320px;
}

.ponto-turistico-card h2 {
  font-size: 20px;
}

.ponto-turistico--preco {
  color: var(--color-info);
  font-size: 20px;
  font-weight: 500;
}

.ponto-turistico--transportes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 5px;
  padding: 0;
}

.ponto-turistico--transportes li {
  font-size: 14px;
  background-color: var(--color-primary);
  color: var(--color-contrast);
  padding: 5px 8px;
  border-radius: 5px;
}

.ponto-turistico-card button {
  align-self: flex-end;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin-top: auto;
}

.ponto-turistico-card button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ponto-turistico--add {
  background-color: var(--color-info);
  color: var(--color-contrast);
}

.ponto-turistico--remove {
  background-color: var(--color-danger);
  color: var(--color-contrast);
}

@media (pointer: fine) {
  .ponto-turistico--add:hover, .ponto-turistico--remove:hover {
    opacity: 0.6;
  }
}