:root {
  --color-primary: #1f5fb9;
  --color-background: #f0f0f0;
  --color-info: #387d96;
  --color-text: #272727;
  --color-contrast: #ffffff;
  --color-danger: rgb(236, 74, 74);
  --shadow-color: rgba(23, 63, 162, 0.357);
}

[data-theme='dark-mode'] {
  --color-primary: #3e7fda;
  --color-background: #2b2b2b;
  --color-info: #35a4cd;
  --color-text: #ffffff;
  --color-contrast: #ffffff;
  --color-danger: rgb(207, 73, 73);
  --shadow-color: rgba(79, 126, 244, 0.428);
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

main {
  gap: 20px;
  padding: 10px 15px 60px;
  max-width: 700px;
  margin: auto;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  cursor: pointer;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto 30px;
  width: fit-content;
}

.title h1 {
  font-size: 24px;
}

.selecionados-title {
  margin: 50px 0 10px;
}

.aviso-lista-vazia {
  font-size: 18px;
}