.amigos-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.amigos-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.amigos-list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--color-primary);
}

@media screen and (min-width: 768px) {
  .amigos-list img {
    width: 60px;
    height: 60px;
  }
}