.list-item {
  display: flex;
  align-items: flex-start;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}

.list-item--actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 70px;
}

.list-item--actions button {
  background-color: var(--color-primary);
  color: var(--color-contrast);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.list-item--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  justify-content: space-between;
  align-self: stretch;
}

.list-item--content h3 {
  font-size: 16px;
  font-weight: normal;
}

.list-item--category {
  background-color: var(--color-secondary);
  color: var(--color-contrast);
  padding: 4px 5px;
  border-radius: 8px;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .list-item--actions {
    flex-direction: row;
    flex-shrink: 0;
  }
}